@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%; }

body {
  background-color: #fff; }

.wrapper {
  width: 93%;
  max-width: 160rem;
  display: flex;
  margin: 0% auto; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 400; }

a {
  text-decoration: none; }

.logo {
  font-family: 'Bungee Hairline', cursive;
  font-size: 3.6rem;
  color: #fff; }

.nav--link {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500; }

.btn {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase; }
  .btn--primary {
    color: #262626; }
  .btn--secondary {
    color: #fff; }

.hero--heading {
  font-size: 4.8rem;
  color: #fff;
  margin-bottom: 6rem;
  line-height: 1.3;
  width: 65%; }

.set-up-team {
  color: #fff; }
  .set-up-team h2 {
    font-size: 4.4rem;
    line-height: 1.46; }
  .set-up-team p {
    line-height: 1.57;
    font-weight: 500;
    font-size: 1.4rem; }

.btn {
  display: inline-block;
  padding: 1.6rem 3.2rem;
  transition: background-color .5s linear;
  position: relative;
  width: 17rem;
  height: 5rem;
  overflow: hidden; }
  .btn::after {
    content: attr(data-hover);
    position: absolute;
    top: 36%;
    left: 25%;
    transition: all .3s ease-in-out;
    display: inline-block; }
  .btn::before {
    content: attr(data-hover);
    position: absolute;
    top: -35%;
    left: 25%;
    transition: all .3s ease-in-out;
    display: inline-block; }
  .btn:hover::after {
    top: 120%; }
  .btn:hover::before {
    top: 36%; }
  .btn--primary {
    background-color: #fff;
    margin-top: -1.4rem; }
    .btn--primary:hover {
      background-color: #eee; }
  .btn--secondary {
    background-color: #3f60fa; }
    .btn--secondary:hover {
      background-color: #2146eb; }

.header {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 5;
  width: 100%; }
  .header .wrapper {
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem; }

ul {
  list-style: none; }

.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.nav li:not(:last-child) {
  margin-right: 3.5rem; }

.nav--link {
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding-bottom: 1.4rem; }
  .nav--link::after, .nav--link::before {
    content: '';
    position: absolute;
    bottom: 0%;
    height: .2rem;
    width: 0%;
    background-color: #fff;
    transition: width .3s ease-in-out; }
  .nav--link::after {
    right: 50%; }
  .nav--link::before {
    left: 50%; }
  .nav--link:hover::after, .nav--link:hover::before {
    width: 50%; }

.hero {
  height: 100%;
  width: 100%;
  position: relative; }
  .hero::after {
    content: '';
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1; }
  .hero .wrapper {
    height: 85%;
    position: absolute;
    top: 0%;
    left: 50%;
    z-index: 3;
    transform: translateX(-50%);
    justify-content: flex-start;
    align-items: flex-end; }
  .hero video {
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover; }

.set-up-team {
  background-color: #3f60fa;
  padding: 10rem 0rem; }
  .set-up-team .wrapper {
    justify-content: space-between;
    align-items: center; }
  .set-up-team__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
    .set-up-team__content p {
      width: 65rem; }
