@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%; }

body {
  background-color: #fff; }

img {
  vertical-align: bottom; }

.wrapper {
  width: 93%;
  max-width: 160rem;
  display: flex;
  margin: 0% auto; }

html {
  font-size: 62.5%; }

body {
  color: #252525;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 400; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700; }

.heading--secondary {
  font-size: 5.4rem;
  margin-bottom: .540em; }
  .heading--secondary--light {
    color: #fff; }

h3 {
  font-size: 3.8rem;
  line-height: 1.25;
  margin-bottom: .948em; }

.paragraph {
  font-size: 1.6rem;
  line-height: 1.6; }

a {
  text-decoration: none; }

.logo {
  font-family: 'Bungee Hairline', cursive;
  font-size: 3.6rem;
  color: #fff; }

.nav--link {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500; }

.btn {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase; }
  .btn--primary {
    color: #252525; }
  .btn--secondary {
    color: #fff; }

.hero--heading {
  font-size: 4.8rem;
  color: #fff;
  margin-bottom: 6rem;
  line-height: 1.3;
  width: 65%; }

.we-work-with h2 {
  font-size: 4rem;
  margin-bottom: 3rem; }

.set-up-team {
  color: #fff; }
  .set-up-team h2 {
    font-size: 4.4rem;
    line-height: 1.46; }
  .set-up-team p {
    line-height: 1.57;
    font-weight: 500;
    font-size: 1.4rem; }

.how-it-works h2 {
  font-size: 4rem;
  margin-bottom: 3rem; }

.how-it-works p {
  font-size: 1.8rem;
  font-weight: 400;
  color: #464646; }

.we-take-care-of h2 {
  font-size: 4rem; }

.we-take-care-of h5 {
  font-size: 1.6rem;
  font-weight: 500; }

.highlights h2 {
  color: #fff;
  font-size: 4rem;
  margin-bottom: 6rem; }

.benefits h3 {
  font-size: 1.8rem;
  margin-bottom: 1.556em;
  letter-spacing: 1px; }

.benefits p {
  line-height: 1.6;
  font-size: 1.5rem;
  font-weight: 300; }

.case-studies {
  color: #fff; }

.slider--paragraph {
  line-height: 1.4; }
  .slider--paragraph:not(:last-child) {
    margin-bottom: 2rem; }

.btn {
  display: inline-block;
  padding: 1.6rem 3.2rem;
  transition: background-color .5s linear;
  position: relative;
  width: 17rem;
  height: 5rem;
  overflow: hidden; }
  .btn::after {
    content: attr(data-hover);
    position: absolute;
    top: 36%;
    left: 25%;
    transition: all .3s ease-in-out;
    display: inline-block; }
  .btn::before {
    content: attr(data-hover);
    position: absolute;
    top: -100%;
    left: 25%;
    transition: all .3s ease-in-out;
    display: inline-block; }
  .btn:hover::after {
    top: 120%; }
  .btn:hover::before {
    top: 36%; }
  .btn--primary {
    background-color: #fff;
    margin-top: -1.4rem; }
    .btn--primary:hover {
      background-color: #eee; }
  .btn--secondary {
    background-color: #3f60fa; }
    .btn--secondary:hover {
      background-color: #2146eb; }

.slider {
  margin: 0 auto;
  max-width: 1600px;
  position: relative; }
  .slider__first {
    max-width: 1600px; }
    .slider__first .slide {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      position: relative; }
      .slider__first .slide--2, .slider__first .slide--3, .slider__first .slide--4 {
        display: none; }
      .slider__first .slide__content {
        width: 78.5rem;
        height: 65rem;
        padding: 8rem;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        position: relative;
        z-index: 2; }
      .slider__first .slide__image {
        position: absolute;
        top: -12rem;
        right: 0%;
        z-index: 1;
        width: 90rem;
        height: 77rem;
        padding-bottom: 4rem; }
        .slider__first .slide__image img {
          height: 100%;
          width: 100%;
          object-fit: cover; }
  .slider .controls {
    height: 8rem;
    width: 18.7rem;
    background-color: #252525;
    position: absolute;
    left: 50%;
    bottom: 0rem;
    z-index: 5;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff; }

.header {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 5;
  width: 100%; }
  .header .wrapper {
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem; }

ul {
  list-style: none; }

.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.nav li:not(:last-child) {
  margin-right: 3.5rem; }

.nav--link {
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding-bottom: 1.4rem; }
  .nav--link::after, .nav--link::before {
    content: '';
    position: absolute;
    bottom: 0%;
    height: .2rem;
    width: 0%;
    background-color: #fff;
    transition: width .3s ease-in-out; }
  .nav--link::after {
    right: 50%; }
  .nav--link::before {
    left: 50%; }
  .nav--link:hover::after, .nav--link:hover::before {
    width: 50%; }

.grid {
  display: grid; }

.we-take-care-of .grid {
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  row-gap: 4rem;
  margin-top: 6rem; }
  .we-take-care-of .grid__item {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    .we-take-care-of .grid__item .img--box {
      background-color: #fff;
      height: 8rem;
      width: 8rem;
      padding: 1.5rem;
      margin-right: 3rem; }

.hero {
  height: 100%;
  width: 100%;
  position: relative; }
  .hero::after {
    content: '';
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1; }
  .hero .wrapper {
    height: 85%;
    position: absolute;
    top: 0%;
    left: 50%;
    z-index: 3;
    transform: translateX(-50%);
    justify-content: flex-start;
    align-items: flex-end; }
  .hero video {
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover; }

.set-up-team {
  background-color: #3f60fa;
  padding: 10rem 0rem; }
  .set-up-team .wrapper {
    justify-content: space-between;
    align-items: center; }
  .set-up-team__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
    .set-up-team__content p {
      width: 65rem; }

.we-work-with {
  padding: 10rem 0rem;
  height: 49rem; }
  .we-work-with .wrapper {
    justify-content: space-between;
    align-items: center;
    height: 100%; }
  .we-work-with__content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 43%;
    height: 49rem;
    position: relative; }
  .we-work-with__sponsors {
    display: grid;
    grid-template-columns: repeat(4, 12.5rem);
    grid-template-rows: repeat(2, 3.5rem);
    row-gap: 6rem;
    column-gap: 3.5rem;
    margin-top: 5.5rem;
    align-items: center;
    margin-top: 6rem; }
    .we-work-with__sponsors img {
      object-fit: cover; }
  .we-work-with__image__container {
    height: 69rem;
    width: 50%; }
  .we-work-with__image__content {
    background-color: #252525;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden; }
    .we-work-with__image__content img {
      position: relative;
      z-index: 5; }
    .we-work-with__image__content .block {
      height: 35rem;
      width: 14rem;
      background-color: #fff;
      position: absolute;
      left: 0%;
      bottom: 10rem;
      z-index: 2; }
    .we-work-with__image__content img {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      z-index: 1; }

.how-it-works {
  background-color: #efefef;
  padding: 10rem 0rem; }
  .how-it-works .wrapper {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column; }
  .how-it-works .step-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 6rem;
    border-bottom: 0.3rem solid #252525; }
    .how-it-works .step-list .steps {
      padding: 0rem 5rem 2.5rem 5rem;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      position: relative; }
      .how-it-works .step-list .steps::before {
        content: '';
        position: absolute;
        left: 0%;
        bottom: 0%;
        height: 100%;
        width: 1.5rem;
        background-color: #b9b6b6; }
      .how-it-works .step-list .steps::after {
        content: '';
        position: absolute;
        left: 0%;
        bottom: -1.6rem;
        height: 1.5rem;
        width: 1.5rem;
        background: #252525; }

.we-take-care-of {
  background-color: #252525;
  color: #fff;
  padding: 10rem 0rem 20rem 0rem; }
  .we-take-care-of .wrapper {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column; }

.highlights {
  margin-top: -10rem; }
  .highlights__content {
    background-image: url(../../images/highlight-bg.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 10rem 0rem;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center; }
    .highlights__content::after {
      content: '';
      position: absolute;
      top: 0%;
      right: 0%;
      bottom: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-color: rgba(63, 96, 250, 0.9); }

.benefits {
  background-color: #efefef;
  padding: 10rem 0rem;
  overflow: hidden; }
  .benefits .wrapper {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    max-width: 100%; }
  .benefits__item {
    height: 30rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; }
  .benefits__text, .benefits__img__container {
    width: 50%; }
  .benefits__text {
    background-color: #fff;
    position: relative;
    width: 50%; }
    .benefits__text--left {
      right: -5rem;
      padding: 3.5rem 7rem 3.5rem 3.5rem; }
    .benefits__text--right {
      left: -5rem;
      padding: 3.5rem 3.5rem 3.5rem 7rem; }
  .benefits__img__container {
    height: 100%; }
    .benefits__img__container img {
      height: 100%;
      width: 100%;
      object-fit: cover; }

.awards {
  background-color: #3f60fa;
  padding: 10rem 0rem; }
  .awards__item {
    height: 12rem;
    display: flex;
    justify-content: space-between;
    width: 100%; }
    .awards__item img {
      height: 100%;
      width: auto;
      object-fit: cover; }

.case-studies {
  background-color: #252525;
  padding: 10rem 0rem;
  width: 100%;
  max-width: 1600px; }
  .case-studies__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    width: 49rem; }
