.hero {
    height: 100%;
    width: 100%;
    position: relative;

    &::after {
        content: '';
        @include full-absolute;
        background-color: rgba(#000, .8);
        z-index: 1;
    }

    & .wrapper {
        height: 85%;
        position: absolute;
        top: 0%;
        left: 50%;
        z-index: 3;
        transform: translateX(-50%);
        justify-content: flex-start;
        align-items: flex-end;
    }

    & video {
        @include full-absolute;
        z-index: 1;
        object-fit: cover;
    }
}

//set up team
.set-up-team {
    background-color: $color-blue;
    padding: 10rem 0rem;

    & .wrapper {
        justify-content: space-between;
        align-items: center;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        & p {
            width: 65rem;
        }
    }

}

.we-work-with {
    padding: 10rem 0rem;
    height: 49rem;
    //position: relative;

    & .wrapper {
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 43%;
        height: 49rem;
        position: relative;
    }

    &__sponsors {
        display: grid;
        grid-template-columns: repeat(4, 12.5rem);
        grid-template-rows: repeat(2, 3.5rem);
        row-gap: 6rem;
        column-gap: 3.5rem;
        margin-top: 5.5rem;
        align-items: center;
        margin-top: 6rem;

        & img {
            object-fit: cover;
        }
    }

    &__image__container {
        height: 69rem;
        width: 50%;
        /*position: relative;
        top: 50%;
        left: 50%;
        transform: translateY(-50%);*/
    }

    &__image__content {
        background-color: $color-black;
        height: 100%;
        width: 100%;
        position: relative;
        overflow: hidden;

        & img {
            position: relative;
            z-index: 5;
        }
        
        & .block {
            height: 35rem;
            width: 14rem;
            background-color: $color-white;
            position: absolute;
            left: 0%;
            bottom: 10rem;
            z-index: 2;
        }

        & img {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            z-index: 1;
        }
    }
}

.how-it-works {
    background-color: $color-grey;
    padding: 10rem 0rem;

    & .wrapper {
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
    }

    & .step-list {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        margin-top: 6rem;
        border-bottom: .3rem solid $color-black;

        & .steps {
            padding: 0rem 5rem 2.5rem 5rem;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                left: 0%;
                bottom: 0%;
                height: 100%;
                width: 1.5rem;
                background-color: #b9b6b6;
            }

            &::after {
                content: '';
                position: absolute;
                left: 0%;
                bottom: -1.6rem;
                height: 1.5rem;
                width: 1.5rem;
                background: $color-black;
            }
        }
    }
}

//we take care of
.we-take-care-of {
    background-color: $color-black;
    color: $color-white;
    padding: 10rem 0rem 20rem 0rem;

    & .wrapper {
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
    }

}

//highlights
.highlights {
    margin-top: -10rem;

    &__content {
        background-image: url(../../images/highlight-bg.jpg);
        background-attachment: fixed;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        padding: 10rem 0rem;
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;

        &::after {
            content: '';
            @include full-absolute;
            z-index: -1;
            background-color: rgba($color-blue, .9);
        }
    }

}