.btn {
    display: inline-block;
    padding: 1.6rem 3.2rem;
    transition: background-color .5s linear;
    position: relative;
    width: 17rem;
    height: 5rem;
    overflow: hidden;

    &::after {
        content: attr(data-hover);
        position: absolute;
        top: 36%;
        left: 25%;
        transition: all .3s ease-in-out;
        display: inline-block;
    }

    &::before {
        content: attr(data-hover);
        position: absolute;
        top: -100%;
        left: 25%;
        transition: all .3s ease-in-out;
        display: inline-block;
    }

    &:hover {
        &::after {
            top: 120%;
        }

        &::before {
            top: 36%;
        }
    }

    &--primary {
        background-color: $color-white;
        margin-top: -1.4rem;

        &:hover {
            background-color: #eee;
        }
    }

    &--secondary {
        background-color: $color-blue;

        &:hover {
            background-color: #2146eb;
        }
    }
}