* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #a6a6a6;
}

.wrapper {
    width: 90%;
    max-width: 160rem;
    display: flex;
    margin: 0% auto;
}