@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}

a {
    text-decoration: none;
}

.logo {
    font-family: 'Bungee Hairline', cursive;
    font-size: 3.6rem;
    color: $color-white;
}

.nav {
    &--link {
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: 500;
    }
}

.btn {
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    
    &--primary {
        color: $color-black;
    }

    &--secondary {
        color: $color-white;
    }
}
//hero
.hero {
    &--heading {
        font-size: 4.8rem;
        color: $color-white;
        margin-bottom: 6rem;
        line-height: 1.3;
        width: 65%;
    }
}

//we work with
.we-work-with {
    & h2 {
        font-size: 4rem;
        margin-bottom: 3rem;
    }
}

//set up team
.set-up-team {
    color: $color-white;

    & h2 {
        font-size: 4.4rem;
        line-height: 1.46;
    }

    & p {
        line-height: 1.57;
        font-weight: 500;
        font-size: 1.4rem;
    }
}

//how it works
.how-it-works {
    & h2 {
        font-size: 4rem;
        margin-bottom: 3rem;
    }

    & p {
        font-size: 1.8rem;
        font-weight: 400;
        color: #464646;
    }
}

//we-take-care-of
.we-take-care-of {
    & h2 {
        font-size: 4rem;
    }

    & h5 {
        font-size: 1.6rem;
        font-weight: 500;
    }
}

//highlights
.highlights {
    & h2 {
        color: $color-white;
        font-size: 4rem;
        margin-bottom: 6rem;
    }
}

//benefits
.benefits {
    & h3 {
        font-size: 1.8rem;
        margin-bottom: 1.556em;
        letter-spacing: 1px;
    }

    & p {
        line-height: 1.6;
        font-size: 1.5rem;
        font-weight: 300;
    }
}